params {
    sim_refs = null
    num_pairs = 1_000_000
    R1 = null
    R2 = null
    refdir = null
    run_name = null
}

params.schema = [
    sim_refs: [
        type: 'path',
        required: false,
        description: '''
            TSV file containing reference (path) : percent (int) pairs for simulation.
            Must be a valid file path.
            
            Resulting simulated fastqs will have {percent}% of their reads from each
            respective {reference}. Percent values must add up to 100 or the simulation
            script will throw an error.

            This argument will be overwritten and FASTQ files will not be generated if
            R1 and R2 FASTQ files are provided with their respective arguments.
        '''
    ],
    num_pairs: [
        type: 'integer',
        required: false,
        default: 1_000_000,
        description: '''
            Number of simulated reads to generate. (Naturally) only affects runs where
            sim_refs is used. Note that for the generated paired-end FASTQ files, each
            file will have {num_pairs} reads.
        '''
    ],
    R1: [
        type: 'path',
        required: false,
        description: '''
            R1 FASTQ file to align to reference genomes in refdir. Must be provided with R2.
            Must be a valid file path.

            R1 & R2 together overwrite the presence of sim_refs, preventing FASTQ simulation.
            Each R1/2 pair will generate 1 set of alignment scores for each reference file in
            refdir.
        '''
    ],
    R2: [
        type: 'path',
        required: false,
        description: '''
            R2 FASTQ file to align to reference genomes in refdir. Must be provided with R1.
            Must be a valid file path.

            R1 & R2 together overwrite the presence of sim_refs, preventing FASTQ simulation.
            Each R1/2 pair will generate 1 set of alignment scores for each reference file in
            refdir.
        '''
    ],
    refdir: [
        type: 'path',
        required: true,
        description: '''
            Path to directory containing all reference FASTQs to align against. 
            Must have .fa, .fna, or .fasta extensions. Will not recognize nested
            FASTA files.
        '''
    ],
    run_name: [
        type: 'string',
        required: false,
        description: '''
            A purely cosmetic label for a nextflow run and produced run subdirectory.
            Runs are already timestamped so this argument is solely for user clarity.
        '''
    ]
]
